<section class="questionaire">
  <h1 class="questionaire__header">Questions</h1>
  <div class="questionaire__list-item">
    <h6>{{ answer.location }}</h6>
    <br>
    <my-question q="Where are you?">
      <p>
        <input type="text" ng-model="answer.location">
      </p>
    </my-question>
  </div>
  <div class="questionaire__list-item">
    <br>
    <my-question q="Florida is the capital of Canada">
      <p>
        <input type="radio" ng-value="true" ng-model="answer.capital">Yes
        <input type="radio" ng-value="false" ng-model="answer.capital">No
      </p>
    </my-question>
  </div>
  <div class="questionaire__list-item">
    <br>
    <my-question q="Florida is the capital of US">
      <p>
        <button ng-click="yes()">Yes</button>
        <button ng-click="nope()">No</button>
      </p>
    </my-question>
  </div>
</section>
